## Let's take a look at our data

In [1]:
import pandas as pd
import os

In [2]:
df_0 = pd.read_csv('all.csv', encoding='utf-8') 
df_0.sample()

,id,price,mark,model,markEng,modelEng,race,year,bodyStyle,engineVolume,fuelType,gear,custom(registration),district,city,nPhotos,userId,userPhone
154131,21887658,20000,Volkswagen,Touareg,volkswagen,touareg,157,2008,vnedorozhnik-krossover,3.0,dizel,Автомат,0,dnepr-dnepropetrovsk,Днепр (Днепропетровск),12,1112422,(097) 521-69-69

In [3]:
df_0.describe()

,id,price,race,year,engineVolume,custom(registration),nPhotos,userId
count,1.629470e+05,1.629470e+05,1.629470e+05,162947.000000,162947.000000,162947.000000,162947.000000,1.629470e+05
mean,2.118648e+07,8.561285e+03,1.768988e+03,2003.259004,2.008022,0.162580,15.097136,4.204465e+06
std,1.550154e+06,2.753568e+05,7.809506e+04,8.626561,0.759309,0.368984,12.921294,2.507699e+06
min,2.706520e+05,1.000000e+02,0.000000e+00,1900.000000,0.100000,0.000000,0.000000,1.880000e+02
25%,2.125643e+07,2.700000e+03,1.000000e+02,1999.000000,1.600000,0.000000,7.000000,1.770559e+06
50%,2.171265e+07,5.600000e+03,1.740000e+02,2005.000000,1.900000,0.000000,12.000000,4.293254e+06
75%,2.187296e+07,1.010000e+04,2.500000e+02,2009.000000,2.200000,0.000000,19.000000,7.128436e+06
max,2.197104e+07,1.111111e+08,1.677722e+07,2018.000000,10.000000,1.000000,296.000000,7.626509e+06

## Add info about car's drive to the dataframe

In [4]:
param_names = ['Задний', 'Передний', 'Полный']

In [5]:
df_0['drive'] = 'NA'

#### This step takes some time

In [7]:
%%time
for name in param_names:   
    name_ids_file = open('drive/' + name + '.txt', 'r')
    name_ids = name_ids_file.read()
    name_ids = set(name_ids.splitlines())
    name_ids_file.close()
    print(name + ' - start')
    for ido in name_ids:
        df_0.loc[df_0['id'] == int(ido),'drive'] = name

Задний - start
Передний - start
Полный - start
Wall time: 15min 32s

In [8]:
df_0.to_csv('all_with_drive.csv', index=False)

In [9]:
df_0.head()

,id,price,mark,model,markEng,modelEng,race,year,bodyStyle,engineVolume,fuelType,gear,custom(registration),district,city,nPhotos,userId,userPhone,drive
0,20438142,3200,Kia,Pregio груз.,kia,pregio-gruz,270,2001,drugoj,2.7,dizel,Ручная / Механика,0,odessa,Одесса,0,2870475,(067) 427-68-23,Задний
1,13267944,5800,Audi,A6,audi,a6,320,1996,sedan,1.8,gaz-benzin,Ручная / Механика,0,ivano-frankovsk,Ивано-Франковск,10,2624310,(096) 998-22-60,Передний
2,21897156,5500,Skoda,Octavia,skoda,octavia,188,2001,liftbek,1.6,gaz-benzin,Ручная / Механика,0,dnepr-dnepropetrovsk,Днепр (Днепропетровск),9,5078342,(098) 659-78-78,Передний
3,21214844,8500,Honda,CR-V,honda,cr-v,330,2004,vnedorozhnik-krossover,2.0,benzin,Ручная / Механика,0,kherson,Новотроицкое,17,1941486,(098) 597-63-45,Полный
4,21921142,3650,BMW,525,bmw,525,310,2000,sedan,2.5,dizel,Ручная / Механика,1,odessa,Одесса,42,7549706,(099) 338-75-99,Задний

## Check gathered data

In [10]:
df_1 = pd.read_csv('all_with_drive.csv', encoding='utf-8') 
df_1.isnull().sum()

id                          0
price                       0
mark                        0
model                       0
markEng                     0
modelEng                    0
race                        0
year                        0
bodyStyle                6931
engineVolume                0
fuelType                    1
gear                        0
custom(registration)        0
district                    0
city                        0
nPhotos                     0
userId                      0
userPhone                  25
drive                   11864
dtype: int64

In [11]:
cols = ['price', 'mark', 'model', 'race', 'year',
       'bodyStyle', 'engineVolume', 'fuelType', 'gear', 'custom(registration)',
       'district', 'city',  'drive']
df_1[cols].sample(5)

,price,mark,model,race,year,bodyStyle,engineVolume,fuelType,gear,custom(registration),district,city,drive
41580,2900,Opel,Zafira,235,2001,miniven,1.8,benzin,Ручная / Механика,1,odessa,Одесса,NaN
86332,1500,Ford,Sierra,49,1984,khetchbek,2.0,gaz-benzin,Ручная / Механика,0,dnepr-dnepropetrovsk,Днепр (Днепропетровск),Задний
135737,2700,Audi,80,230,1989,NaN,1.8,benzin,Ручная / Механика,0,ivano-frankovsk,Рогатин,Передний
55098,9900,Citroen,C4,151,2012,khetchbek,1.6,gaz-benzin,Ручная / Механика,0,ternopol,Тернополь,Передний
36307,1200,ВАЗ,2104,78,1989,universal,1.3,benzin,Ручная / Механика,0,lvov,Львов,Задний

## Fix missing drive values

In [12]:
df_1_temp_with_drive = df_1[df_1['drive'].notnull()].copy()
df_1_temp_with_drive.head()

,id,price,mark,model,markEng,modelEng,race,year,bodyStyle,engineVolume,fuelType,gear,custom(registration),district,city,nPhotos,userId,userPhone,drive
0,20438142,3200,Kia,Pregio груз.,kia,pregio-gruz,270,2001,drugoj,2.7,dizel,Ручная / Механика,0,odessa,Одесса,0,2870475,(067) 427-68-23,Задний
1,13267944,5800,Audi,A6,audi,a6,320,1996,sedan,1.8,gaz-benzin,Ручная / Механика,0,ivano-frankovsk,Ивано-Франковск,10,2624310,(096) 998-22-60,Передний
2,21897156,5500,Skoda,Octavia,skoda,octavia,188,2001,liftbek,1.6,gaz-benzin,Ручная / Механика,0,dnepr-dnepropetrovsk,Днепр (Днепропетровск),9,5078342,(098) 659-78-78,Передний
3,21214844,8500,Honda,CR-V,honda,cr-v,330,2004,vnedorozhnik-krossover,2.0,benzin,Ручная / Механика,0,kherson,Новотроицкое,17,1941486,(098) 597-63-45,Полный
4,21921142,3650,BMW,525,bmw,525,310,2000,sedan,2.5,dizel,Ручная / Механика,1,odessa,Одесса,42,7549706,(099) 338-75-99,Задний

In [13]:
for index, row in df_1.iterrows():
    if row['drive'] == 'null':
        same_model = df_1_temp_with_drive.loc[(df_1_temp_with_drive['mark'] == row['mark']) 
                                              & (df_1_temp_with_drive['model'] == row['model'])]['drive']
        if same_model.shape[0] != 0:
            df_1.loc[index,'drive'] = same_model.iloc[0]

## Drop other missing values

In [14]:
df_clean_temp = df_1.copy()

In [15]:
df_clean_temp[df_clean_temp['fuelType'].isnull()].index

Int64Index([123749], dtype='int64')

In [16]:
for col in df_clean_temp.columns:
    df_clean_temp = df_clean_temp.drop(df_clean_temp[df_clean_temp[col].isnull()].index)

In [17]:
df_clean_temp.isnull().sum()

id                      0
price                   0
mark                    0
model                   0
markEng                 0
modelEng                0
race                    0
year                    0
bodyStyle               0
engineVolume            0
fuelType                0
gear                    0
custom(registration)    0
district                0
city                    0
nPhotos                 0
userId                  0
userPhone               0
drive                   0
dtype: int64

In [19]:
df_clean_temp.to_csv('all_null_replaced_or_deleted.csv', encoding='utf-8', index=False)